{% extends 'layout.html' %}
{% block title %}
    Backmanage page
{% endblock title %}
{% block pg-header %}
    <div class="logo left">
        还有谁不服的
    </div>
    <div class="h1-menu left">
        <a class="item" href="/">博客首页</a>
    </div>
    <div class="hr-menu right">
        <a class="item" href="">消息</a>
        <a class="item" href="">通知</a>
        <a class="item" href="">任务</a>
        <div class="avatar right">
            <a class="item" href="">
                <img src="/static/imgs/default.jpg" alt="">
            </a>
            <div class="sets">
                <a class="item" href="">菜单1</a>
                <a class="item" href="">菜单2</a>
                <a class="item" href="">菜单3</a>
            </div>
        </div>
    </div>
    </div>
{% endblock pg-header %}
{% block content %}

{% endblock content %}