<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>block test</title>
    <style>
        .pg-header{
            height:48px;
            border:1px solid blue;
        }
        .hl-menu{
            height:24px;
            background-color:red;
            width:200px;

        }
        .hr-menu{
            height:24px;
            width:300px;
            background-color:yellow;


        }
    </style>
</head>
<body>
    <div class="pg-header">
        <div class="hl-menu"></div>
        <div class="hr-menu"></div>
    </div>
</body>
</html>